body {
    font-family: sans-serif;
}

.container {
    max-width: 860px;
    margin: 0 auto;
    padding: 0 35px;
}

.navbar-menu {
    padding: 8px 0;
    border-bottom: 1px solid #eee;
}

.header {
    font-family: Raleway, Helvetica Neue, Helvetica, Arial, sans-serif;
    max-width: 860px;
    margin: 0 auto;
    padding: 1em 0;
    text-align: center;
    border-bottom: 1px solid #eee;
    background: #fff;
    letter-spacing: .05em;
}

article {
    font-family: 'Ubuntu', sans-serif;
    font-size: 17px;
}

article ol li {
    line-height: 1.6;
}

.footer {
    font-family: Raleway, Helvetica Neue, Helvetica, Arial, sans-serif;
    max-width: 860px;
    margin: 0 auto;
    padding: 1em 0;
    text-align: center;
    border-top: 1px solid #eee;
    background: #fff;
    letter-spacing: .05em;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
}
